<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type='text/css'>
            * { margin:0; padding:0; border:0; outline:0; position: relative; } 
            .leftContainer { float: left; display: block;  width: 200px; box-sizing: border-box; height: 600px;}
            .midContainer { float: left; display: block;  width: 800px; box-sizing: border-box; height: 600px;}
            .rightContainer { float: left; display: block;  width: 200px; box-sizing: border-box; height: 600px;}
    </style>
</head>
<body>
    <div class="leftContainer" style="background: yellow;"></div>
    <div class="midContainer" style="background: yellowgreen;"></div>
    <div class="rightContainer" style="background: blue;"></div>

</body>
</html>